@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #03161E;
    border-radius: 1rem;
    max-width: 1300px;
    margin: auto;
    padding: 1.0rem 10rem;
}
section {
    display: flex;
    flex-direction: row;
    
}
html  {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
}
body {
    background-color: #041F2B;
    color: #FFE4C4;
}

a   {
    list-style: none;
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    text-decoration: none;
}
h1  {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    text-align: center;
}

.menu {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15rem;
}
.imagesHome{
    max-width: 85%;
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
}
.imagesProjects{
    max-width: 85%;
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
}

.imagesHome > ul > li{
    list-style:none;
}

.imagesHome > .juntaTudo {
    display: flex;
    flex-direction: row;
    
}

.commonSize {
    width: 350px;
    height: 268.66px;
    border-radius: 79px;
    box-shadow: 15px 10px 0px #FFE4C4, 
            0px 0 #FFE4C4;  
}

.commonSizeProjects {
    width: 285px;
    height: 218.77px;
    border-radius: 79px;
    box-shadow: 13px 10px 0px #FFE4C4, 
            0px 0 #FFE4C4;  
}

.imagesHome > .juntaTudo > .haftafell {
    padding-left: 3rem;
    padding-right: 3rem;
}

.imagesHome > .fotinha > ul > .primeiro{
    list-style: none;
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-left: 1rem;

}
.imagesHome > .fotinha > ul > li {
    list-style: none;
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-left: 1rem;
 
}
.imagesHome > .juntaTudo > .haftafell > h3 {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-top: 1rem;
    text-align: center;
}
.imagesHome > .juntaTudo > .rickandmorty > h3 {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-top: 1rem;
    text-align: center;
}
.imagesHome > .fotinha > figure > .foto {
    width: 85%;
    border-radius: 466px;
    box-shadow: 15px 10px 0px #FFE4C4, 
            0px 0 #FFE4C4;  
}

.imagesProjects > .juntaTudoProjects > .primeiraParte {
    display: flex;
    flex-direction: row;
    padding-left: 2.75rem;
}
.imagesProjects > .juntaTudoProjects > .primeiraParte > div{
    padding-left: 1rem;
    padding-right: 1rem;
}
.imagesProjects > .juntaTudoProjects > .segundaParte > div{
    padding-left: 1rem;
    padding-right: 1rem;
}

.imagesProjects > .juntaTudoProjects > .segundaParte {
    display: flex;
    flex-direction: row;
    padding-left: 2.75rem;
}

.imagesProjects > .juntaTudoProjects > .primeiraParte > div > h3{
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-top: 1rem;
    text-align: center;   
}
.imagesProjects > .juntaTudoProjects > .segundaParte > div > h3{
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    color: #FFE4C4;
    padding-top: 1rem;
    text-align: center;   
}